[user]
	name = Alexander Nestorov
	email = alexandernst@gmail.com
[push]
	default = current
[core]
	filemode = false
	compression = 9
	editor = nano
	pager = less -FXRS -x4
[color]
	autocrlf = true
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto
[diff]
	context = 6
	renames = true
[grep]
	lineNumber = true
[pack]
	compression = 9
[rebase]
	autostash = true
